body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: rgb(30, 37, 45);
 	color: #9ab;
}

.paragraph-div {
  word-wrap: break-word;
}
.conteiner {
  margin-top: 2.5%;
}

#navbar1 {
  background-color: red !important;
}
#btnComecar {
  margin-top: 10%;
  margin-bottom: 1%;
}

.card {
  margin-top: 1%;
  border: 2px solid rgba(0, 0, 0, 0.5);  
  margin-left: 2% !important;
  font-size: 15px;
  max-height: 960px;
  background-color: rgb(21 , 24, 29);
}

.card img{
  display: block;
}

.card h5{
  border-bottom: 1px solid rgb(188, 187, 184);
}

#btnEncerrar {
  margin-top: 15%;
}

.active {
  font-weight: bold;
}

.btn-op {
  margin-top: 10% !important;
}

hr {
  margin-top: 5px;
}
h5 {
  font-weight: 600;
  font-size: 17px;
}
span {
  font-weight: 100;
}
h5 p {
  font-weight: 100;
  font-size: 15px;
}
.cardBlurred {
  filter: blur(1.5rem);
}

#title-header { 
  background-color: rgb(21 , 24, 29);
  color: rgb(188, 187, 184);
  height: 100px;
  font-size: 3em;
}

#questoes{
  text-align: center;    
}

#texto{
  font-size: 1.4em;
}

#questoesButao{  
  margin-top: 3%;
  margin-left: 25%;
  max-width: 50%; 
}

#contador, #tituloPontuacao{
  background-color: rgb(21 , 24, 29);
  color: rgb(188, 187, 184);  
}

