body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */

  
  font-family: -apple-system, BlinkMacSystemFont,"Karla",
    sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paragraph-div {
  word-wrap: break-word;
}
.conteiner {
  margin-top: 2.5%;
}

#navbar1{
  background-color: red !important;
}
